<h1><% provide(:title, 'Sign up') %>Sign Up</h1>
<br>
<br>
<%= form_for(@user,  url: signup_path) do |f| %>
<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>
<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>
<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<!-- <div class="form-group">
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>
</div>   -->    
<div class="form-group">
  <%= f.submit "Sign Up!", class: "btn btn-primary" %>
</div>
<% end %>

<br>
<p>Or you can  <%= link_to 'log in here', login_path %></p>

