<h1>Hello <%=@user.first_name %>!</h1>
 
<br>
<%= button_to "Post New Question", '/questions/new', :id => "button", :class => "btn btn-default", :method => :get %>

<br><br>
<h3>Your Questions</h3>
<br>
<ul>
<% @question.each do|x| %>
  <% if x.user_id == session[:user_id] %>
    <li><strong><%= link_to x.title, x %></strong></li>
  <% end %>
<% end %>
</ul>
<br>

<h3>Your Answers</h3>
<br>
<ul>
<% @answer.each do|x| %>
  <% if x.user_id == session[:user_id] %>
    <li><p><%= link_to Question.find(x.question_id).title , Question.find(x.question_id)  %></p> Your answer: <strong><%= x.body %></strong></li>
    <br>
  <% end %>
<% end %>
</ul>
<br><br>
<br>

