<!DOCTYPE html>
<html lang="en">
<head>
  <title>QuoraRails</title>
   <!-- 
    normalize.css remueve las diferenecia que hay entre browsers segun los defaults de css predeterminados que utilizan. 
    Revisa: http://necolas.github.com/normalize.css/
  -->
 <!--  <link rel="stylesheet" href="/css/normalize.css"> -->
  <!--
    application.css este es el archivo donde van tus estilos, tu css
  -->
<!--   <link rel="stylesheet" href="/css/application.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>

<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
    <p class="navbar-brand"><i class="fa fa-question"></i>&nbsp;<%= link_to 'QUORA 2.0', '/' %></p>
  <ul class="nav navbar-nav">

<% if logged_in? %>

  <li><%= link_to 'Post New Question', '/questions/new' %></li>
  <li><%= link_to 'Answer Question', '/questions/all' %></li>
  <li><%= link_to "User Profile", user_path(current_user) %></li>
  <li><%= link_to "Log out", logout_path, method: "delete" %></li>

<% else %> 

  <li><%= link_to 'Log In', login_path %></li>
  <li><%= link_to 'Sign Up', signup_path %></li>
<% end%>
  </ul>
</nav>
  <div class="container">
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>